<!doctype html>
<html lang="en">

<head>

  <title>Chợ đen</title>
  <link rel="shortcut icon" type="image/png" href="/public/icons/favicon.ico" />
  <link rel="shortcut icon" type="image/png" href="/public/icons/favicon.ico" />

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{{_sections.css}}}

</head>

<body style="background-color: #2C3137;">
  <!-- navbar guest -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/"><img src="/public/images/logo.png" alt="" width="120px" height="auto"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{#each lcMenu}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{Name}}
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            {{#each SubMenu}}
            <a class="dropdown-item bg-dark text-light" href="/product/category?id={{id}}&page=1">{{catName}}</a>
            {{/each}}
          </div>
        </li>
        {{/each}}
      </ul>
      <div class="d-flex flex-direction-row">
        <a class="nav-link text-light" href="/user/login">Đăng nhập</a>
        <a class="btn btn-warning  my-sm-0" href="/user/signup">Đăng ký</a>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
  <!-- SEARCH BAR -->
  <div class="row" style="background: rgb(43, 49, 55);">
    <div class="col-sm"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="search-header d-flex flex-column justify-content-center align-items-center" style="height: 230px;">
        <p class="h4 mb-3 text-warning">TÌM HÀNG TRÊN CHỢ ĐEN</p>
        <!-- inputbox -->
        <form class="input-group mb-3" action="/product/search" method="get">
          <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Tìm kiếm..." />
          <div class="input-group-append">
            <button class="btn btn-warning" type="submit">
              <img src="/public/icons/search.svg" height="20px" width="auto" />
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

<!-- HTML: BODY -->
<div class=" container-fluid d-flex align-items-center justify-content-center" style="background-color: #353A40;">
  <div class="display-4 text-light py-4 text-center">SÀN ĐẤU GIÁ LỚN NHẤT THẾ GIỚI</div>
</div>




  {{{body}}}


  <footer class="section footer-classic bg-dark p-5" style="color: #8d9eac;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="#"><img class="brand-logo-light" src="/public/images/logo.png"
                alt="" width="auto" height="37"></a>
            <p>Chào mừng đến với chợ đen.</p>
            <p class="rights"><span>© </span><span class="copyright-year">2019 - </span><span> </span><span>Bản quyền
                thuộc về nhóm 2 (Web).</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>Địa chỉ:</dt>
            <dd>Đại học KHTN</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="#" style="color: #8d9eac;">blackmarket@gmail.com</a></dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Về chợ đen</h5>
          <ul style="list-style-type:none; padding-left: 0;">
            <li><a href="#" style="color: #8d9eac;">Giới thiệu</a></li>
            <li><a href="#" style="color: #8d9eac;">Liên hệ</a></li>
            <li><a href="#" style="color: #8d9eac;">Tuyển dụng</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  {{{_sections.js}}}

</body>

</html>